# zip file
*.zip
*.crdownload

# raw data/csv
*.csv
*.xlsx

# python

# jupyter notebook

#others
*.png
*.class
*.iml
*.cache
*.pdf
\.idea/*
2\.CTR/Z/spark/\.idea/*
2\.CTR/Z/spark/output/*
2\.CTR/Z/spark/target/*
